/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    height: 90vh;
    width: 100%;
    flex-grow: 1;
}

#container {
    display: flex;
    height: 90vh;
}

#sidebar {
    width: 300px;
    padding: 1rem;
    background-color: #f4f4f4;
    height: 90vh;
    overflow-y: auto;
}

.info.legend {
    background: white;
    padding: 10px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
} */

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

h2 {
    margin: 10px;
}

#container {
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;
}

#sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 10px;
    overflow-y: auto;
}

#map {
    flex: 1;
    height: 100%;
}